.tabs {
  display: flex;
  flex-flow: column;
}

.tab {
  cursor: pointer;
  border-radius: 10px 10px 0 0;
  background: #96877B;
  color: #fff;
  border: none;
  outline: none;
  padding: .5em 1em;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content {
  border-radius: 0 10px 0 0;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  flex: 1 1 auto;
  overflow: auto;
}

.active-tab {
  composes: tab;
  background: #fff;
  color: #000;
  position: relative;
  box-shadow: none;
}
