.upload {
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: center;
  margin: auto;
  width: 60%;
  max-width: 572px;
}

.content {
  text-align: center;
}

.text {
  display: block;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #545859;
  margin-top: 1.5em;
  padding-bottom: 5px;
}

.center {
  margin: auto;
}

.fileChooser {
  border-top: 2px solid #545859;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 40px;
}

.selectFiles {
  composes: text;
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 20px;
}

.submitSection {
  border-top: 2px solid #545859;
  padding-top: 40px;
  padding-bottom: 20px;
}

.submitButton {
  font-weight: bold;
  border-radius: 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  padding: 20px 20px;
  font-size: 1.75em;
  text-transform: uppercase;;
}

.submitButton:hover {
  background-color: #3B9E40;
  cursor: pointer;
}
