.backdrop {
  position: fixed;
  background-color: rgba(0,0,0,0.3);
  padding: 50;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal {
  background-color: #fff;
  padding: 30;
  color: black;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200;
  height: 100;
}

.modal button {
  text-align: right;
  border: none;
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
}
