.nav {
  background-color: #545859;
  box-shadow: 0 0 5px #000;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.nav li {
  display: inline-block;
}

.nav a {
  color: #fff;
  display: inline-block;
  font-size: 17px;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 2px rgba(0,0,0,0.3);
  text-transform: uppercase;
  transition: 0.3s;
}

.nav a:hover {
  background-color: #434748;
}

.nav a.active {
  background-color: #44e34a;
}

/*The toggle button is for mobile devices only*/
.nav .toggle {
  display: none;
}

@media screen and (max-width: 680px) {

  /*This makes sure the menu bar doesn't collapse
  when the toggle floats right. This should be global*/
  .nav .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  .nav ul li {
    display: none;
  }

  .nav .toggle {
    display: inline-block;
    float: right;
  }

  .nav ul.open {
    position: absolute;
    background-color: rgba(84, 88, 89, 0.85);
    box-shadow: 0 0 5px #000;
  }

  .nav ul.open li {
    float: none;
    display: inline;
  }

  .nav ul.open li a {
    display: block;
    text-align: left;
  }
}
