.app {
  background-color: #E3DBE1;
  display: flex;
  flex-flow: column;
  height: 100%;
  position: absolute;
  width: 100%;
}

.topNav {
  width: 100%;
  min-height: 50px;
  flex: 1 0 auto;
  order: 1;
}

.main {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-around;
  order: 2;
}

.sideNav {
  flex: 0 1 auto;
}

.content {
  flex: 1 0 auto;
}
