.dropdown {
  background: url(./arrow.jpg) no-repeat 96% 0;
  background-color: #545859;
  border-radius: 5px;
  display: inline-block;
  /*height: 29px;*/
  width: 240px;
  padding: 0 5px;
}

.dropdown select {
  /*-webkit-appearance: none;*/
  background-color: #545859;
  border: none;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  font-size: 1.25em;
  font-weight: bold;
  padding: 5px;
  width: 100%;
}

.defaultValue {
  font-style: italic;
  font-weight: normal;
}
