.dropdown {
  align-self: right;
  border-radius: 5px;
  display: inline-block;
  padding: 0 5px;
  position: relative;
}

.dropdown select {
  border: none;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  font-size: 1.25em;
  font-weight: bold;
  padding: 5px;
  width: 100%;
}

.dropdown-items {
  position: absolute;
  list-style: none;
  padding: 0;
  background-color: #545859;
}

.defaultValue {
  font-style: italic;
  font-weight: normal;
}
