.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(3,3,3,0.5);
  border-radius: 10px;
  font-size: 1.75em;
  padding: 2%;
  text-align: center;
}

.login input {
  font-size: 1em;
  display: block;
  width: 100%;
  margin-bottom: .25em;
  border-radius: 5px;
}

.login form>button {
  font-weight: bold;
  border-radius: 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  padding: 12px 12px;
  width: 100%;
}

.login form>button:hover {
  background-color: #3B9E40;
  cursor: pointer;
}

.login .error {
  font-size: .5em;
  color: orange;
}

.login input[type=checkbox] {
  float: left;
  position: relative;
  width: 25px;
  display: inline;
}

.login label {
    float: left;
    display: inline;
    font-size: .6em;
    padding-bottom: 6px;
}
