.navbar {
  background-color: #545859;
  box-shadow: 0 0 5px #000;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  color: #fff;
  display: inline-block;
  font-size: 17px;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 2px rgba(0,0,0,0.3);
  text-transform: uppercase;
  transition: 0.3s;
}

.navbar a:hover {
  background-color: #434748;
}

.navbar a.active {
  background-color: #44e34a;
}
