.panel {
  background: white;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-flow: column;
}

.header {
  background: #96877B;
  border-radius: 10px 10px 0 0;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
}

.content {
  flex: 1 1 auto;
  overflow: auto;
}
